<div class="container page-container ask-form ">
    <div class="container ask-content">
      <div class="title-ask-a-question">
        <h3>Ask a Question</h3>
      </div>
      <%= simple_form_for [@question] do |f| %>
        <%= f.association :category, :class => "category-menu", collection: Category.all  %>
        <%= f.simple_fields_for :question_tag do |c| %>
          <%= c.input :tag_id, collection: Tag.all, input_html: { class: "select2", multiple: "mutiple" }  %>
        <% end %>
        <%= f.input :content %>
        <%= f.submit "Ask a question", class: "btn btn-tags btn-ask-question" %>
      <% end %>
    </div>
  <div class="container img-answer">
    <%= image_tag "answer-page.png", class: "img-answer" %>
  </div>
</div>
