<h1><%= @question.content %></h1>

<!-- TIMESTAMP FOR QUESTION -->
<% if Time.now - @question.created_at < 86400 %>
  <p><%= time_ago_in_words(@question.created_at) %></p>
<% elsif Time.now - @question.created_at < 172800 %>
  <p>Yesterday at <%= @question.created_at.strftime("%H:%M") %></p>
<% else %>
  <p><%= @question.created_at.strftime("%e, %B %Y at %k:%M") %></p>
<% end %>

<!-- CONDITION TO ALLOW TO DELETE & EDIT THE QUESTION ONLY IF IT HAS BEEN CREATED BY THE CURRENT USER -->
<% if policy(@question).edit?  %>
  <% if @answers.any? == false %>
    <%= link_to edit_question_path do %>
      <div>
        <p><i class="far fa-edit">Edit</i></p>
      </div>
    <% end %>
  <% end %>
  <%= link_to "delete question", question_path(@question),
  method: :delete,
  data: {confirm: "are you sure?"} %>
<% end %>

<!-- FORM TO ANSWER -->
<%= simple_form_for [@question, @answer] do |f| %>
  <%= f.input :content, label: false, placeholder: "Your answer here" %>
  <%= f.submit "send", class: "btn btn-primary" %>
<% end %>

<!-- ITERATION TO DISPLAY THE ANSWERS OF A QUESTION -->
<% @answers.each do |answer| %>
  <div id="delete<%= answer.id %>">
    <p><%= answer.content %></p>

  <!-- TIMESTAMP FOR ANSWER -->
    <% if Time.now - answer.created_at < 86400 %>
      <p><%= time_ago_in_words(answer.created_at) %></p>
    <% elsif Time.now - answer.created_at < 172800 %>
      <p>Yesterday at <%= answer.created_at.strftime("%H:%M") %></p>
    <% else %>
      <p><%= answer.created_at.strftime("%e, %B %Y at %k:%M") %></p>
    <% end %>

  <!-- LIKE BUTTON & COUNTER FOR ANSWER -->
    <%= link_to like_answer_path(answer), class:"like-btn", method: :put, remote: :true do %>
      <div>
        <span><p><i class="far fa-thumbs-up"></i></p></span>
      </div>
    <% end %>
    <span class="likes_count" id="likes<%= answer.id %>"><%= answer.get_upvotes.size %></span>

    <!-- EDIT ANSWER BUTTON -->
    <% if policy(answer).edit?  %>
      <%= link_to edit_answer_path(answer) do %>
        <div>
          <p><i class="far fa-edit">Edit</i></p>
        </div>
      <% end %>

      <!-- DELETE ANSWER BUTTON -->
      <%= link_to answer_path(answer), class:"delete-btn", method: :delete, data: {confirm: "are you sure?"}, remote: :true do %>
        <div>
          <span><p><i class="far fa-trash-alt"> Delete</i></p></span>
        </div>
       <% end %>
    <% end %>
  </div>
<% end %>




