<div class="back">
<%= link_to category_path(@question.category_id) do %>Back to <%= @question.category.name %><% end %>
</div>


<h1><%= @question.content %></h1>

<% if policy(@question).edit?  %>
  <% if @answers.any? == false %>
    <%= link_to "edit question", edit_question_path %>
  <% end %>
  <%= link_to "delete question", question_path(@question),
  method: :delete,
  data: {confirm: "are you sure?"} %>
<% end %>

<%= simple_form_for [@question, @answer] do |f| %>
  <%= f.input :content, label: false, placeholder: "Your answer here" %>
  <%= f.submit "send", class: "btn btn-primary" %>
<% end %>

<% @answers.each do |answer| %>
  <p><%= answer.content %></p>

  <%= link_to like_answer_path(answer) do %>
    <i class="far fa-thumbs-up">(<%= answer.votes_for.count %>)</i>
  <% end %>

  <% if policy(answer).edit?  %>
    <%= link_to "edit answer", edit_answer_path(answer) %>
    <%= link_to "delete answer", answer_path(answer),
    method: :delete,
    data: {confirm: "are you sure?"} %>
  <% end %>
<% end %>

