<div class="container" style="
    min-height: 500px";>


  <div class="back-to-show">
    <%= link_to category_path(@question.category_id), class: "back-to-show" do %>
      < Back to <%= @question.category.name %>
    <% end %>
  </div>

  <div class="container d-flex justify-content-between question-header">
    <div class="user">
      <!-- ORIGINATOR USER'S LINK -->
      <%= link_to user_path(@question.user_id) do %>
        @<%= @question.user.first_name&.capitalize %>
      <% end %>
      <span>asked:</span>
    </div>
    <div class="answer-question">
      <button type="button" class="btn btn-tags" data-toggle="modal" data-target="#exampleModal">
        + Add Answer
      </button>
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <div class="container d-flex justify-content-center">
                <%= simple_form_for [@question, @answer] do |f| %>
                  <div class="modal-body">
                    <%= f.input :content, label: false, placeholder: "Your answer here", class: "form-answer" %>
                  </div>
                  <div class="modal-footer">
                    <%= f.submit "send", class: "btn btn-tags btn-send" %>
                  </div>
                <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="title-question">
    <!-- QUESTION'S TITLE -->
    <div class="text-center">
      <h1><%= @question.content %></h1>
      <% @question.tags.each do |tag| %>
      <% end %>
    </div>
    <div class="timestamp-question">
      <!-- TIMESTAMP FOR QUESTION -->
      <% if Time.now - @question.created_at < 86400 %>
        <p><%= time_ago_in_words(@question.created_at) %></p>
      <% elsif Time.now - @question.created_at < 172800 %>
        <p>Yesterday at <%= @question.created_at.strftime("%H:%M") %></p>
      <% else %>
        <p><%= @question.created_at.strftime("%e, %B %Y at %k:%M") %></p>
      <% end %>
    </div>
  </div>



      <!-- START CARD HERE -->
  <div class="card-questions-page">
    <hr>
    <div class="answer-content">
      <!-- ITERATION TO DISPLAY THE ANSWERS OF A QUESTION -->
      <% @answers.each do |answer| %>

        <div class="content text-left">
            <div id="delete<%= answer.id %>">
              <p><%= answer.content %></p>
            </div>
        </div>


        <div class="info-questions d-flex justify-content-between content">
          <!-- ANSWER BY @USER -->
          <div class="answer-user-name">
            <span class="source">
              Answered by <%=link_to user_path(answer.user_id) do %>
                <span>@<%= answer.user.first_name&.capitalize %></span>
              <% end %>
             </span>
          </div>

          <!-- TIMESTAMP FOR ANSWER -->
          <div class="timestamp" >
            <% if Time.now - answer.created_at < 86400 %>
              <p><%= time_ago_in_words(answer.created_at) %></p>
            <% elsif Time.now - answer.created_at < 172800 %>
              <p>Yesterday at <%= answer.created_at.strftime("%H:%M") %></p>
            <% else %>
              <p><%= answer.created_at.strftime("%e, %B %Y at %k:%M") %></p>
            <% end %>
          </div>
        </div>
        <div class="d-flex justify-content-center content">
          <div class="like-question">
            <!-- LIKE BUTTON & COUNTER FOR ANSWER ONLY TO BE DISPLAY WHEN A USER IS LOGGED IN -->
            <% if current_user == nil %>
              <%= display %>
            <% else  %>
              <%= link_to like_answer_path(answer), class:"like-btn m5", method: :put, remote: :true do %>
                  <i class="far fa-thumbs-up icon-answer"></i>
                  <span class="likes_count count-like" id="likes<%= answer.id %>">(<%= answer.get_upvotes.size %>)</span>
              <% end %>
            <% end %>
          </div>
                <!-- EDIT ANSWER BUTTON -->
          <% if policy(answer).edit?  %>
            <%= link_to edit_answer_path(answer) do %>
              <div class="m5">
                <i class="far fa-edit icon-answer"></i>
              </div>
            <% end %>

            <!-- DELETE ANSWER BUTTON -->
            <%= link_to answer_path(answer), class:"delete-btn", method: :delete, data: {confirm: "are you sure?"}, remote: :true do %>
              <div class="m5">
                <i class="far fa-trash-alt icon-answer"></i>
              </div>
            <% end %>
          <% end %>

              <!-- CONDITION TO ALLOW TO DELETE & EDIT THE QUESTION ONLY IF IT HAS BEEN CREATED BY THE CURRENT USER -->
          <% if policy(@question).edit?  %>
            <% if @answers.any? == false %>
              <%= link_to edit_question_path do %>
                <div>
                  <p><i class="far fa-edit">Edit</i></p>
                </div>
              <% end %>
            <% end %>
            <%= link_to "delete question", question_path(@question),
            method: :delete,
            data: {confirm: "are you sure?"} %>
          <% end %>
        </div>
        <hr style="width:100%;">
      <% end %>
    </div>
  </div>
</div>



