<h1><%= @question.content %></h1>
<% if policy(@question).edit?  %>
<%= link_to "edit question", edit_question_path %>
  <%= link_to "delete question", question_path(@question),
  method: :delete,
  date: {confirm: "are you sure?"} %>
<% end %>

<%= simple_form_for [@question, @answer] do |f| %>
  <%= f.input :content %>
  <%= f.submit "send", class: "btn btn-primary" %>
<% end %>

<% @answers.each do |answer| %>
  <p><%= answer.content %></p>
  <% if policy(answer).edit?  %>
    <%= link_to "edit answer", edit_answer_path(answer) %>
    <%= link_to "delete answer", answer_path(answer),
    method: :delete,
    date: {confirm: "are you sure?"} %>
  <% end %>
<% end %>
