<div class="container">
  <div class="d-flex justify-content-center">
    <div class="img-signup-login">
      <%= image_tag("form.png", size: "350") %>

    </div>
      <div class="box-log">
        <div class="signup-form">
          <h2>Sign up</h2>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <%= f.input :first_name,
                          required: true,
                          autofocus: true,
                          placeholder: "Bob",
                          input_html: { autocomplete: "first_name" }%>
              <%= f.input :email,
                          required: true,
                          autofocus: true,
                          placeholder: "bob@gmail.com",
                          input_html: { autocomplete: "email" }%>
              <%= f.input :password,
                          required: true,
                          placeholder: "••••••",
                          hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :password_confirmation,
                          required: true,
                          placeholder: "••••••",
                          input_html: { autocomplete: "new-password" } %>
              <%= f.input :location,
                          required: true,
                          placeholder: "London",
                          input_html: { autocomplete: "location" } %>
              <%= f.input :bio,
                          required: false,
                          label: "About me",
                          placeholder: "Type something about you",
                          input_html: { autocomplete: "bio" } %>
              <%= f.input :photo %>
              <%= f.input :photo_cache, as: :hidden %>

            </div>

            <div class="form-actions d-flex justify-content-center">
              <%= f.button :submit, "Sign up", class: "btn-login" %>
            </div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
    </div>
  </div>
</div>


