<div class="container-banner banner d-flex">
      <div class="p-4 p-md-5 img-banner">
        <%=image_tag("banner.png", alt: "Banner")%>
      </div>

      <div class="p-4 p-md-5 text-banner">
              <div class="container">
                <div class="col-md-6 px-0 text-right-image">
                  <h1 class="display-4 font-italic">Worried about <strong>climate change ?</strong></h1>
                  <p class="lead my-3">
                    <label class='placeholder'>
                        <span id="banner-typed-text"></span>
                    </label>
                  </p>

                  <a class="btn btn-flat" href="#scroll-down" id="scroll">Start</a>
                </div>
              </div>
      </div>
</div>
  <div class="container-category">
    <div class="description-cards text-center">
      <h1>Start by seleting a category</h1>
      <p>Topics with the largest impact</p>
    </div>
      <div class="cards card-home">
        <% @categories.each do |category| %>
          <%= link_to category_path(category) do %>
            <div class="card-category card-category-home" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.1)), url(<%= category.photo %>);">
              <%= category.name %>
            </div>
          <% end %>
        <% end %>
      </div>
  </div>


  <div class="container d-flex three-cards-landing-page" id="scroll-down">

      <div class="col-lg-4 text-center three-card-landing">
        <h1>Articles.</h1>
        <p>Curated content from trusted soruces</p>
        <p><a class="btn btn-flat-card" href="#" role="button"><%= Article.count %></a></p>
      </div><!-- /.col-lg-4 -->

      <div class="col-lg-4 text-center three-card-landing">
        <h1>Questions.</h1>
        <p>Thoughful questions from all around the world</p>
        <p><a class="btn btn-flat-card" href="#" role="button"><%= Question.count %></a></p>
      </div>
          <!-- /.col-lg-4 -->
      <div class="col-lg-4 text-center three-card-landing">
        <h1>Answers.</h1>
        <p>Down-to-earth solutions from committed people</p>
        <p><a class="btn btn-flat-card" href="#" role="button"><%= Answer.count %></a></p>
      </div><!-- /.col-lg-4 -->

    </div>



  <div class="container last-container">
          <div class="row featurette">
            <div class="col-md-7">
              <div class="box-text-banner2">
                <h2 class="featurette-heading"><span class="text-muted">Trustworthy information.</span><span class="featurette-heading">Global effort.</span></h2>
                <p class=""> Most of the solutions to the climate problem already exist. Join a community of people who learn and share these solutions. Also get informed with curated and reliable content from trusted sources!</p>
              </div>
            </div>
            <div class="col-md-5">
              <%= image_tag("banner-2.png", class: "featurette-image")%>
            </div>
          </div>
  </div>

<script>
  document.getElementById('scroll').addEventListener('click', function (e) {
    e.preventDefault();
    document.querySelector('.container-category').scrollIntoView({
      behavior: 'smooth'
    });
  });

   // const text = document.getElementById('banner-typed-text');
  // console.log(text)
</script>

