<div class="back">
  <%= link_to "Back to categories", root_path %>
</div>

<div class="title-category">
  <h1><%= @category.name %></h1>
</div>

<div class="container tag-show">
  <% @category.tags.each do |tag| %>
    <div class="btn-tags">
    <a class="btn btn-ghost btn-tag" href="#"><%= tag.name %></a>
    </div>
  <% end %>
</div>


<div class="container d-flex">

  <div class="container articles">
    <h2>Articles</h2>
    <% @articles.each do |article| %>
    <div class="container card-question">
      <p><%= article.title %></p>
    </div>
    <% end %>
  </div>

  <div class="container questions">
    <div class="answer d-flex justify-content-between">
      <h2>Community Q&A</h2>

      <%= link_to "ask a question", new_question_path, class: "btn btn-ghost btn-answer" %>

    </div>

    <% @questions.each do |question|%>
    <div class="container card-question">
      <%= link_to question.content, question_path(question) %>
      <% if Time.now - question.created_at < 86400 %>
        <p><%= time_ago_in_words(question.created_at) %></p>
      <% elsif Time.now - question.created_at < 172800 %>
        <p>Yesterday at <%= question.created_at.strftime("%H:%M") %></p>
      <% else %>
        <p><%= @question.created_at.strftime("%e, %B %Y at %k:%M") %></p>
      <% end %>
    </div>
    <% end  %>
  </div>

</div>
