<div class="back">
  <%= link_to "< Back to categories", root_path, class: "back-to-category" %>
</div>

<div class="title-category">
  <h1><%= @category.name %></h1>
</div>

<div class="container">

  <div class="slider">
    <% @category.tags.each do |tag| %>
      <div class="slide">
        <!-- link to with param tag, link)to linked to this same page -->
          <%= link_to tag.name, category_path(@category, tag: tag), class: "btn-tags btn"%>
      </div>
    <% end %>
  </div>

</div>

<script>
  $('.carousel').carousel({
    interval: 300000
  })
</script>






<div class="container d-flex">

  <div class="container articles">
    <h2>Articles</h2>
    <div class="container-articles">
        <div class="sort">
          <p>Ordered by : relevance</p>
        </div>


           <hr class="line-articles">
          <% @articles.sample(10).each do |article| %>
            <div class="card-articles align-items-start">

              <div class="text-left">
                  <p><%= link_to article.title, article.url, target: :_blank %></p>

                  <div class="d-flex bd-highlight mb-3 align-items-end">
                    <p class="author p-2 bd-highlight">'Author'</p>
                    <p class="p-2 bd-highlight"><%= article.source %></p>
                    <p class="ml-auto p-2 bd-highlight">
                        <%= link_to like_article_path(article), class:"like-btn", method: :put, remote: :true do %>
                            <span><i class="far fa-thumbs-up"></i></span>
                        <% end %>
                        <span class="likes_count" id="likes<%= article.id %>"><%= article.get_upvotes.size %></span>
                    </p>
                  </div>



              </div>

              <div class="img-article">
              <%= image_tag "" %>
              </div>

            </div>
          <% end %>

    </div>
  </div>

  <div class="container questions">

      <div class="answer d-flex justify-content-between">
        <h2>Community Q&A</h2>

        <%= link_to "ask a question", new_question_path, class: "btn-answer btn-tags" %>

      </div>
      <div class="">
        <div class="sort">
          <p>Ordered by : relevance</p>
        </div>

          <% @questions.each do |question|%>
          <div class="card-question">
            <div class="question-link">
              <%= link_to question.content, question_path(question) %>
            </div>

          </div>
          <% end  %>


    </div>
  </div>






</div>
