<div class="back">
  <%= link_to "< Back to categories", root_path, class: "back-to-category" %>
</div>

<div class="title-category">
  <h1><%= @category.name %></h1>
</div>

<div class="container">

  <div class="slider" data-tag="<%= @selected_tag %>">
    <% @category.tags.each do |tag| %>
        <!-- link to with param tag, link)to linked to this same page -->
      <div class="data-holder"  data-tag="<%= tag.id %>">
        <% if @selected_tag %>
          <% if @selected_tag.to_i == tag.id %>
            <%= link_to tag.name, category_path(@category), class: "btn-tags btn"%>
          <% else %>
            <%= link_to tag.name, category_path(@category, tag: tag), class: "btn-tags btn"%>
          <% end %>
        <% else %>
          <%= link_to tag.name, category_path(@category, tag: tag), class: "btn-tags btn"%>
        <% end %>
      </div>
    <% end %>
  </div>
</div>


<div class="container d-flex category-container">
  <div class="container articles">
    <h2>Articles</h2>
    <div class="container-articles">
        <div class="sort">
          <p>Ordered by : relevance</p>
        </div>
          <hr class="line-articles">
          <% @articles.sample(10).each do |article| %>
            <div class="card-articles">
              <a class="link-article" href=<%= article.url %> target="_blank">
              </a>
              <div class="text-left">
                  <p><%= article.title %></p>
                  <div class="info-articles d-flex">
                    <p class="source"><%= article.source%><p class="date-articles source"><%= article.pub_date.strftime("%e, %B %Y") %></p></p>
                    <p class="">
                        <%= link_to like_article_path(article), class:"like-btn", method: :put, remote: :true do %>
                            <span><i class="far fa-thumbs-up"></i></span>
                        <% end %>
                        <span class="likes_count" id="likes<%= article.id %>"><%= article.get_upvotes.size %></span>
                    </p>
                  </div>
              </div>
              <div class="img-article">
                <%= image_tag article.photo %>
              </div>

            </div>
          <% end %>

    </div>
  </div>

  <div class="container questions">

      <div class="answer d-flex justify-content-between">
        <h2>Community Q&A</h2>
        <%= link_to "Ask a question", new_question_path, class: "btn-ask btn-tags" %>
      </div>

      <div class="">
        <div class="sort">
          <p>Ordered by : relevance</p>
        </div>

          <hr class="line-articles">

          <% @questions.each do |question|%>
          <div class="card-question">
            <a class="link-question" href=<%= question_path(question) %> >
            </a>
            <div class="question-link">
              <%= link_to question.content, question_path(question) %>
            </div>
            <div class="">
              <p class="source ">@ <%= question.user.first_name %></p>
            </div>
          </div>
          <% end  %>


      </div>
  </div>






</div>

<script>
  $('.carousel').carousel({
    interval: 300000
  })
</script>






