<div class="back">
  <%= link_to "Back to categories", root_path %>
</div>

<div class="title-category">
  <h1><%= @category.name %></h1>
</div>

<div class="container">
  <div class="carousel slide" data-ride="carousel" data-interval="2000">
    <div class="carousel-inner">
      <% @category.tags.each_slice(5).with_index do |slice, index| %>

        <div class="carousel-item text-center <%= index == 0 ? 'active' : '' %>">
          <% slice.each do |tag| %>
            <div class="d-inline tags-space" >
              <a class="btn-tags" href="#"><%= tag.name %></a>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
       <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<script>
  $('.carousel').carousel({
    interval: 5000
  })
</script>
<div class="container d-flex">

  <div class="container articles">
    <h2>Articles</h2>
    <% @articles.sample(10).each do |article| %>
    <div class="container card-question">
      <p><%= link_to article.title, article.url, target: :_blank %></p>
      <p><%= article.source %></p>

      <%= link_to like_article_path(article), class:"like-btn", method: :put, remote: :true do %>
        <div>
          <span><p><i class="far fa-thumbs-up"></i></p></span>
        </div>
      <% end %>
      <span class="likes_count" id="likes<%= article.id %>"><%= article.get_upvotes.size %></span>

    </div>
    <% end %>
  </div>

  <div class="container questions">
    <div class="answer d-flex justify-content-between">
      <h2>Community Q&A</h2>

      <%= link_to "ask a question", new_question_path, class: "btn btn-ghost btn-answer" %>

    </div>

    <% @questions.each do |question|%>
    <div class="container card-question">
      <%= link_to question.content, question_path(question) %>
      <% if Time.now - question.created_at < 86400 %>
        <p><%= time_ago_in_words(question.created_at) %></p>
      <% elsif Time.now - question.created_at < 172800 %>
        <p>Yesterday at <%= question.created_at.strftime("%H:%M") %></p>
      <% else %>
        <p><%= @question.created_at.strftime("%e, %B %Y at %k:%M") %></p>
      <% end %>
    </div>
    <% end  %>
  </div>

</div>
